@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,700,900");

*{
    box-sizing: border-box;
}

h1{
    font-family: inherit;
    font-size: 20pt;
    font-weight: 700;
    line-height: normal;
    color: inherit;
}

h2{
    font-family: inherit;
    font-size: 18pt;
    font-weight: 900;
    line-height: normal;
    color: inherit;
}

p{
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    line-height: normal;
    color: inherit;
}

a{
    transition: border-bottom-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: #000000;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.5);
}

    a:hover {
        border-bottom-color: transparent;
        color: #3700ff;
    }

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
    font-weight: 300;
    line-height: normal;
    color: #000000;
}

    .container{
        width: 100%;
        margin: auto 0 auto 0;
        padding: 2px 1em 2px 1em;
    }

    @media (min-width:768px) {
        body {
            font-size: 18px;
        }
    }

    @media (min-width: 1024px) {
        body {
            font-size: 20px;
        }
    }

header {
    position: sticky;
    top: 0;
    border-bottom: 1pt solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 30pt;
    padding: 0 20pt;
}

    header a.button {
        font-family: inherit;
        font-size: inherit;
        font-weight: 900;
        line-height: normal;
        color: #3700ff;
        padding: 1px 10px; 
        border-radius: 20pt;
        border: 1pt solid black;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }

        header a.button:hover {
            background-color: #3700ff;
            color: white;
        }

    header a.logo{
        font-family: inherit;
        font-size: inherit;
        font-weight: 900;
        line-height: normal;
        color: #3700ff;
        display: flex;
        text-decoration: none;
        align-items: center;
        border: none;
    }

        header a.logo .symbol img{
            height: 1em;
            width: auto;
            border-radius: 50%;
            margin-right: 15pt;
        }

#wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#sidebar {
    display: flex;
    width: 375px;
    overflow: auto;
    flex-shrink: 0;
    margin: 5px 20px auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #sidebar #header{
        text-align: center;
    }

    #sidebar #header p{
        font-family: inherit;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }

#news {
    flex-grow: 1;
    overflow: auto;
    margin: 5px 0 auto 20px;
}

    @media (max-width: 768px) {
        #sidebar {
            width: 100%;
        }

        #news {
            display: none;
        }
    }

.card{
    border: 2pt solid black;
    font-family: inherit;
    margin: 10px auto 0 auto;
}

    .card h2, p{
        font-size: 16px;
        margin: 10pt;
    }

    .card .headerincard{
        padding: 0;
        margin: auto 10pt auto 10pt;
    }

    .maincard{
        padding: 0;
        margin: auto 10pt auto 10pt;
        display: flex;
        flex-direction: row;
    }

        .maincard .Thumbnails{
            flex: 1;
        }

        .Thumbnails {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .Thumbnails img {
            max-width: 100%;
            height: auto;
        }
        
        .maincard .cardText{
            flex: 3;
        }




