@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,700,900");
@import url(all.css);
@import url(rands.css);
@import url(solid.css);

*{
    box-sizing: border-box;
}

h1{
    font-family: inherit;
    font-size:inherit;
    font-weight: 700;
    line-height: normal;
    color: inherit;
    margin: 10pt auto 5pt auto;
}

h2{
    font-family: inherit;
    font-size: inherit;
    font-weight: 900;
    line-height: normal;
    color: inherit;
}

h3{
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: normal;
    color: inherit;
}

p{
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    line-height: normal;
    color: inherit;
}

a{
    transition: border-bottom-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: #000000;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.5);
}

    a:hover {
        border-bottom-color: transparent;
        color: #3700ff;
    }

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
    font-weight: 300;
    line-height: normal;
    color: #000000;
}

    .container{
        width: 100%;
        margin: auto 0 auto 0;
        padding: 2px 1em 2px 1em;
    }

    @media (min-width:768px) {
        body {
            font-size: 18px;
        }
    }

    @media (min-width: 1024px) {
        body {
            font-size: 20px;
        }
    }

header {
    top: 0;
    border-bottom: 1pt solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 30pt;
    padding: 0;
}

    #header{
        position: sticky;
    }

    header#header a{
        margin-bottom: 10px;
        margin-top: 5px;
    }

.button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 900;
    line-height: normal;
    color: #3700ff;
    padding: 1px 10px; 
    border-radius: 20pt;
    border: 1pt solid black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

    .button:hover {
        background-color: #3700ff;
        color: white;
    }

    header a.logo{
        font-family: inherit;
        font-size: inherit;
        font-weight: 900;
        line-height: normal;
        color: #3700ff;
        display: flex;
        text-decoration: none;
        align-items: center;
        border: none;
    }

        header a.logo .symbol img{
            height: 1em;
            width: auto;
            border-radius: 50%;
            margin-right: 15pt;
        }

#wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: auto;
}

#sidebar {
    display: flex;
    width: 375px;
    max-height: calc(100vh - 50px);
    overflow: auto;
    flex-shrink: 0;
    margin: 0 20px auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

    #sidebar #shortinfo{
        text-align: left;
    }

    #sidebar #shortinfo p{
        font-family: inherit;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        margin: 10pt 0 10pt 0;
    }

#news {
    height:100vh;
    flex-grow: 1;
    overflow: auto;
    margin: 5px 0 auto 20px;
}

    @media (max-width: 768px) {
        #sidebar {
            width: 100%;
        }

        #news {
            display: none;
        }
    }

    @media screen and (min-width: 600px) {
        #sidebar::-webkit-scrollbar, #news::-webkit-scrollbar {
            display: none;
        }
    }

.card{
    border: 2pt solid black;
    font-family: inherit;
    margin: 10px auto 0 auto;
}

    .card h2, .card p{
        font-size: 16px;
        margin: 10pt;
    }

    .card .headerincard{
        padding: 0;
        margin: auto 10pt auto 10pt;
    }

    .maincard{
        padding: 0;
        margin: 10pt;
        display: flex;
        flex-direction: row;
    }

        .maincard .Thumbnails{
            flex: 1;
        }

        .Thumbnails {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .Thumbnails img {
            max-width: 100%;
            height: auto;
        }
        
        .maincard .cardText{
            flex: 3;
        }

div.contact{
    border-top: 1pt solid black;
    margin: 20pt auto 0 auto;
}

    #contactinfo{
        display: block;
        margin: 5px;
        padding: 0;
        list-style: none;
    }

    #contactinfo a{
        border: none;
    }

    #contactinfo i{
        margin: auto 15px auto auto;
    }

    #contactinfo .label{
        text-decoration: none;
        font-family: inherit;
        font-size: 12pt;
        font-weight: 700;
    }

    #footer{
        margin: 1em;
    }

    #footer h1{
        margin: 10px 0 7px 0 ;
    }

    #inproject{
        margin: 5px 0 15px 0;
        padding-bottom: 20px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;

    }

    #inproject a{
        border: none;
    }

    #inproject .label{
        text-decoration: none;
        font-family: inherit;
        font-size: 12pt;
        font-weight: 700;
        margin-left: 10px;
    }



.carousel-item {
    display: none;
    width: 100%;
    height: 95vh;
    margin: 10pt auto 5pt auto;
    border: 2pt solid black;
    border-radius: 10px;
  }
  
    .carousel-item.active {
        display: block;
    }

    .carousel-item.active  img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

#spring {
    column-count: 1;
    column-gap: 20px;
    margin-top: 20px;
}

    @media screen and (min-width:1100px) {
        #spring {
            column-count: 2;
        }
    }

    @media screen and (min-width: 1400px) {
        #spring {
            column-count: 3;
        }
    }

        #springBIG {
            column-count: 1;
            column-gap: 20px;
            margin-top: 20px;
        }

            @media screen and (min-width:700px) {
                #springBIG {
                    column-count: 4;
                }
            }



.project {
    border: 2pt solid black;
    border-radius: 10px;
    flex: 1 1 auto;
    min-width: 100px;
    align-items: center;
    break-inside: avoid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}

.project h2, .project p, .project h3{
    margin: 10px;
    text-align: left;
    border: none;
}

div.projectContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.projectInfo{
    flex: 25%;
    max-width: 75vw;
    margin:10px;
}

    .projectInfo h1, .projectInfo p{
        text-align: center;
    }


div#bookContainer{
    flex: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    #projectBook{
        column-count: 1;
        column-gap: 0;
        margin: auto;
    }

    #projectBook img{
        width: 75vw;
        height: auto;
        margin: 5auto;
        border: none;
    }

        @media screen and (min-width:1400px){
            #projectBook{
                column-count: 2;
            }
            #projectBook img{
                height: 90vh;
                width: auto;
            }
        }

#presentation{
    max-width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    #presentation img{
        width: calc((75vw - 60px) / 4);
        height: auto;
        margin: 20px 0 20px 0;
    }

    #presentation img.ana{
        width: 75vw;
        height: auto;
        margin: 20px 0 20px 0;
    }

    #presentation video{
        width: 75vw;
        height: auto;
        margin: 20px 0 20px 0;
    }


.youtube-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 9/16 * 100% */
    height: 0;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#CV{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CV h1 {
    font-size: inherit;
    font-size: 24px;
}

#CV h2 {
    font-style: oblique;
    font-size: 20px;
}

#basicInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0; 
    padding: 0;
    border-bottom: 2pt solid black;
}

#name{
    text-align: left;
    max-width: 50vw;
    height: fit-content;
}

    #name h2{
        font-style:normal
    }

#contactyalou{
    text-align: right;
}

#education{
    border-bottom: 2pt solid black;
    margin: 20px 0;
}

#internship{
    border-bottom: 2pt solid black;
    margin: 20px 0;
}
#awards{
    border-bottom: 2pt solid black;
    margin: 20px 0;
}

.experience{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

    .experience h2{
        margin: 0 0 8px 0;
        max-width: 50vw;
        height: fit-content;
    }
    .experience p{
        margin: 0 0 5px 0;
        max-width: 50vw;
        height: fit-content;
    }

.summary h2{
    font-weight: 900;
}

.content{
    font-weight: 300;
}

.employee{
    font-style: oblique;
    font-size: 14px;
}

.GPA{
    font-weight: 600;
}

.timespan{
    max-width: 20vw;
    margin: 0;
}


    







